html {
  scroll-behavior: inherit;
}

p {
  font-size: 19px;
}
.navbar.navbar-expand-md.navbar-light a.navbar-brand {
  color: var(--whiteColor);
  font-weight: 700;
  text-align: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.section-title.all-width {
  max-width: unset;
  margin-bottom: unset;
  span {
    display: inline-block;
    margin-top: 10px;
  }
}
.icofont-square {
  position: relative;
}
span.chapter-number {
  position: absolute;
  color: blue;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #fff;
}

.next-generation-virtual-reality .single-item h3 {
  text-transform: uppercase;
}

.regulamin-box {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.faq-accordion h2 {
  text-align: center;
}

.pricing-content {
  li {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
  .icofont-tick-mark {
    color: var(--templateColor2);
    font-size: 20px;
    padding-right: 2px;
  }
}
.price-value p {
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
}

.you-save {
  color: var(--paragraphColor);
  font-weight: 700;
  margin-top: 10px;
}

.platform-connect .row .socialbox a {
  height: 100%;
}

.platform-connect.ptb-100 {
  .container .row {
    justify-content: center;
  }
}

.discover-content ul li {
  width: unset;
  float: unset;
}

.single-features-box {
  height: 100%;
}

.platform-connect h2 {
  max-width: 640px;
}

.next-generation-virtual-reality .single-item:hover {
  background-color: #edf5ff;
  transition: 200ms ease-in;
  p:last-child {
    color: #1b1b1b;
  }
}
.next-generation-virtual-reality .single-item {
  margin-bottom: 30px;
  padding-left: 40px;
  height: 100%;
}

.discover-content ul li:hover {
  color: #1b1b1b;
}

.hidden-instagram-icon {
  display: none;
}

.creative-shape img {
  width: 100%;
}

.nav-item {
  cursor: pointer;
}

.clearfix.flex {
  display: flex;
}
a.add-product-btn {
  width: 18px;
  font-weight: bold;
  color: #000;
  background-color: #e1e1e1;
  text-align: center;
  line-height: 29px;
  height: 29px;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;

  &.btn-left {
    float: left;
  }
  &.btn-right {
    float: right;
  }
}

td.product-name {
  justify-content: space-between;
  border-right: unset;
  .cart-items {
    text-align: center;
    width: 40px;
    border: 1px solid #e1e1e1;
  }
}

.order-details .order-table table tbody tr td {
  &.order-shipping,
  &.shipping-price,
  &.order-subtotal,
  &.order-subtotal-price {
    border-bottom: unset;
    border-top: unset;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  &.shipping-price,
  &.order-subtotal-price {
    border-left: unset;
  }

  &.order-shipping,
  &.order-subtotal {
    border-right: unset;
  }
  &.order-subtotal,
  &.order-subtotal-price {
    padding-top: 25px;
  }
}

.order-image {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  border: 1px;
  border-style: ridge;
  padding: 20px;
  img {
    max-width: 40%;
  }
  .arrow-right-order {
    font-size: 25px;
  }
}

.strikeout {
  text-decoration: line-through;
}

.newsletter-success-textbox {
  max-width: 650px;
  margin: 30px auto;
  position: relative;
  border-radius: 5px;
  background: #fff;
  color: forestgreen;
  padding: 8px;
  span {
    font-size: 16px;
  }
}

.checkout-area {
  .form-check {
    .form-check-input,
    .form-check-label {
      cursor: pointer;
    }
    .form-check-input {
      width: 20px;
      height: 20px;
    }
    .form-check-label {
      padding-left: 10px;
    }
  }
}

.privacy-policy {
  flex-direction: column;
}

.book-discover {
  span {
    font-size: 20px;
  }
  ul {
    font-size: 18px;
  }
}

.next-generation-virtual-reality {
  .icon {
    line-height: 0;
  }
}

.navbar-nav {
align-items:center;
}

.crake-nav nav .navbar-nav li {
  &.zamowteraz {
    a {
      padding: 14px !important;
    }
    &:hover a::before {
      visibility: hidden;
      top: 13px;
    }
  }
}
