html {
  scroll-behavior: inherit;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1350px;
  }
}

p {
  font-size: 19px;
}
.navbar.navbar-expand-md.navbar-light a.navbar-brand {
  color: var(--whiteColor);
  font-weight: 700;
  text-align: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.section-title.all-width {
  max-width: unset;
  margin-bottom: unset;
  span {
    display: inline-block;
    margin-top: 10px;
  }
}
.icofont-square {
  position: relative;
}
span.chapter-number {
  position: absolute;
  color: blue;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #fff;
}

.next-generation-virtual-reality .single-item h3 {
  text-transform: uppercase;
}

.regulamin-box {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.faq-accordion h2 {
  text-align: center;
  margin-bottom: 40px;
}

.faq-accordion.course-content .accordion__button {
  background-color: var(--templateColor);
  color: var(--whiteColor);
  &:hover {
    background-color: var(--whiteColor);
    color: #444;
  }
}

.pricing-content {
  li {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
  .icofont-tick-mark {
    color: var(--templateColor2);
    font-size: 20px;
    padding-right: 2px;
  }
}
.price-value p {
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  margin-top: -12px;
}

.you-save {
  color: var(--paragraphColor);
  font-weight: 700;
  margin-top: 10px;
}

.platform-connect .row .socialbox a {
  height: 100%;
}

.platform-connect.ptb-100 {
  .container .row {
    justify-content: center;
  }
}

.single-features-box {
  height: 100%;
}

.platform-connect h2 {
  max-width: 640px;
}

.next-generation-virtual-reality .single-item:hover {
  background-color: #edf5ff;
  transition: 200ms ease-in;
  p:last-child {
    color: #1b1b1b;
  }
}
.next-generation-virtual-reality .single-item {
  margin-bottom: 30px;
  padding-left: 40px;
  height: 100%;
}

.hidden-instagram-icon {
  display: none;
}

.creative-shape img {
  width: 100%;
}

.nav-item {
  cursor: pointer;
}

.clearfix.flex {
  display: flex;
}
a.add-product-btn {
  width: 18px;
  font-weight: bold;
  color: #000;
  background-color: #e1e1e1;
  text-align: center;
  line-height: 29px;
  height: 29px;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;

  &.btn-left {
    float: left;
  }
  &.btn-right {
    float: right;
  }
}

td.product-name {
  justify-content: space-between;
  border-right: unset;
  .cart-items {
    text-align: center;
    width: 40px;
    border: 1px solid #e1e1e1;
  }
}

.order-details .order-table table tbody tr td {
  &.order-shipping,
  &.shipping-price,
  &.order-subtotal,
  &.order-subtotal-price {
    border-bottom: unset;
    border-top: unset;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  &.shipping-price,
  &.order-subtotal-price {
    border-left: unset;
  }

  &.order-shipping,
  &.order-subtotal {
    border-right: unset;
  }
  &.order-subtotal,
  &.order-subtotal-price {
    padding-top: 25px;
  }
}

.order-image {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  border: 1px;
  border-style: ridge;
  padding: 20px;
  .ordered-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  img {
    max-width: 40%;
  }
  .arrow-right-order {
    font-size: 25px;
  }
}

.strikeout {
  text-decoration: line-through;
}

.newsletter-success-textbox {
  max-width: 650px;
  margin: 30px auto;
  position: relative;
  border-radius: 5px;
  background: #fff;
  color: forestgreen;
  padding: 8px;
  span {
    font-size: 16px;
  }
}

.checkout-area {
  .form-check {
    .form-check-input,
    .form-check-label {
      cursor: pointer;
    }
    .form-check-input {
      width: 20px;
      height: 20px;
    }
    .form-check-label {
      padding-left: 10px;
    }
  }
}

.privacy-policy {
  flex-direction: column;
}

.book-discover {
  ul {
    font-size: 18px;
  }
  h3 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
  }

  .subtitle {
    font-weight: 700;
    text-align: center;
  }

  .discover-content ul li {
    width: unset;
    float: unset;
  }

  .discover-content ul li:hover {
    color: #1b1b1b;
  }

  img.brush {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .thanksto {
    font-size: 27px;
    font-weight: 700;
    margin-top: 56px;
  }
}

.next-generation-virtual-reality {
  .icon {
    line-height: 0;
  }
}

.navbar-nav {
  align-items: center;
}

.crake-nav nav .navbar-nav li {
  &.zamowteraz {
    a {
      padding: 14px !important;
    }
    &:hover a::before {
      visibility: hidden;
      top: 13px;
    }
  }
}

.sklep-prices {
  .row {
    row-gap: 30px;
    justify-content: center;
    margin-bottom: 80px;

    .pricing-table {
      padding: 0 0 30px 0;
      background-color: #7a3760;
      &:hover {
        border: 15px solid var(--templateColor2);
      }
      .price-header {
        display: flex;
        flex-direction: column;
        .title {
          margin: 30px auto;
        }
      }

      .readmore {
        margin-right: 20px;
        text-align: right;
        a {
          color: #fff;
          margin-bottom: 25px;
          &:hover {
            border-bottom: 1px solid #ff8a73;
            text-decoration-thickness: from-font;
            font-weight: 700;
          }
        }
      }
    }
  }
}

.reviewform {
  .form-group.uploadphoto label {
    margin-bottom: 0;
  }

  .form-check-label {
    cursor: pointer;
  }

  label.sendphoto {
    margin-right: 20px;
  }

  .wordcount {
    display: flex;
    justify-content: flex-end;
    color: #888;
  }
  input::placeholder,
  textarea::placeholder {
    color: #888;
  }
}

.pricing-area {
  color: var(--paragraphColor);
  .pricing-table-box.pakiet {
    background-color: #ff5a5a61;
  }
  .textbig {
    font-size: 46px;
    line-height: 1.2;
    margin-bottom: 0;
  }
  .textmedium {
    font-size: 36px;
    line-height: 1.2;
  }
}
.drogadoszczescialanding {
  .btn {
    padding: 29px 31px;
    font-size: 22px;
  }
  .app-download .section-title .download-btn a {
    padding: 12px 35px 12px 35px;
  }
  .drogadoszczesciaheader {
    .navbar.navbar-expand-md.navbar-light a.navbar-brand {
      color: var(--paragraphColor);
    }
    .crake-nav nav .navbar-nav li a {
      color: var(--paragraphColor) !important;
    }

    .crake-nav.is-sticky {
      .navbar.navbar-expand-md.navbar-light a.navbar-brand {
        color: #fff;
      }
      nav .navbar-nav li a {
        color: #fff !important;
      }
    }
    nav .nav-item.zamowteraz .btn-primary {
      color: #fff !important;
    }
  }

  .drogadoszczesciabanner .omnie {
    max-width: 700px;
    margin: 0px auto 60px auto;
    position: relative;
    box-shadow: 4px 16px 30px 0px rgba(205, 141, 176, 0.39);
    box-sizing: border-box;
    padding: 25px;
    border-radius: 20px;
  }

  .wherevideois {
    z-index: 9;
    .video-responsive {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0;
      iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }
    .laptop-video {
      width: 100%;
      height: 100%;
      max-width: 1034px;
      max-height: 543px;
      margin: 0 auto;
      animation: movebounce 5s linear infinite;
      div {
        position: relative;
        padding-top: 25px;
        padding-bottom: 67.5%;
        height: 0;
        iframe {
          box-sizing: border-box;
          background: url(http://i.stack.imgur.com/zZNgk.png) center center
            no-repeat;
          background-size: contain;
          padding: 11.9% 15.5% 14.8%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .funfacts-area {
    background: white;
    padding-bottom: 100px;
    .dlategojesli {
      background: white;
      ul {
        padding: 20px;
      }
    }
  }

  .app-funfacts-area,
  .dlaczego {
    background: var(--darkViolet);
    &:before {
      content: none;
    }
  }

  .app-funfacts-area {
    padding-bottom: 100px;
  }

  .faq-accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  //   .app-download .download-image .laptop-video {
  //     animation: movebounce 5s linear infinite;
  //     position: absolute;
  //     left: -75px;
  //     top: 0;
  //     width: 445px;
  // }

  .price-Value .currency {
    position: unset;
  }

  .pricingTable .pricing-content {
    margin-left: 60px;
    margin-right: 30px;
    ul {
      list-style: none;
      li {
        display: block;
        background: url(/images/square-bullet.svg) no-repeat;
        padding-left: 1.7em;
        background-size: 14px;
        background-position: 3px 5px;
        text-align: left;
      }
    }
  }
  .main-banner.drogadoszczesciabanner {
    height: 100vh;
  }

  .fun-facts-inner-area .fun-facts-inner-content {
    p {
      font-size: 22px;
    }
    ul li {
      font-size: 19px;
    }
  }
}
.simple-text-widget {
  &.dividedInTwoSection {
    padding: 0;
    .dividedInTwoInner {
      align-self: center;
    }
  }
  p {
    background-color: var(--darkViolet);
    color: var(--whiteColor);
    padding-bottom: 0;
  }

  .aligncenter {
    text-align: center;
  }

  .zrobto {
    font-weight: 700;
    font-size: 32px;
  }

}
